<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Game</title>

    <script>
        let currentUser = "[[${user}]]";
        let gameUUID = "[[${game.getGameUUID()}]]";
        let gameStatus = "[[${game.getStatus().toString()}]]";
        let playerRole = "[[${userRole}]]";
        let chat = "[[${chat}]]";
        let secretWord = "[[${game.getWord()}]]";
    </script>

    <!--    libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!--    end libs for stomp and sockjs-->

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0px;
            border: 0;
            overflow: hidden; /*  Disable scrollbars */
            display: block;  /* No floating content on sides */
        }
    </style>

</head>
<body>

<nav id="navbar-element" class="navbar navbar-expand-xl fixed-top" style="background-color: black">
    <!--<a href="#" class="navbar-brand"><img src="logo.png" width="300" height="60"></a>-->
    <a class="navbar-brand" href="/">Crocodile</a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <li><a class="nav-link" href="/leaderboard">Leaderboard</a></li>
            <li th:if="${user != null}" class="nav-item">
                <a class="nav-link" href="/user/history">Match history</a>
            </li>
        </div>
        <div class="navbar-nav ml-auto">
            <li th:if="${userRole} == 'PAINTER'" class="nav-item">
                <a class="nav-link" id="link-game-cancel" href="/">Cancel game</a>
            </li>
            <li th:if="${userRole} != 'PAINTER'" class="nav-item">
                <a class="nav-link" id="link-game-leave" href="/">Leave</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
        </div>
    </div>
</nav>

<br/>
<br/>
<br/>


<div id="game-secret-word"
    style="position: fixed;
    font-size: xxx-large;
    top: 10%;
    left: 26%;">
</div>

<br/>

<div id="chat-box" class="game-chat">
    <th:block th:each="msg : ${chat}">
        [[${msg}]] <br/>
    </th:block>
</div>

<form id="form-chat" class="game-chat-form">
    <input type="text" id="form-chat-input"  placeholder="Enter your message"/>
</form>

<button id="btn-game-link" style="position: fixed;
        width: 20%;
        left: 65%;
        top: 90%;"  class="btn-game">
    Copy game uuid
</button>

<canvas id="canvas-game"
        style="position: fixed;
        left: 5%;
        top: 20%;">
</canvas>

<script>
    (function() {
        var
            // Obtain a reference to the canvas element using its id.
            htmlCanvas = document.getElementById('canvas-game'),
            // Obtain a graphics context on the canvas element for drawing.
            context = htmlCanvas.getContext('2d');

        // Start listening to resize events and draw canvas.
        initialize();

        function initialize() {
            // Register an event listener to call the resizeCanvas() function
            // each time the window is resized.
            window.addEventListener('resize', resizeCanvas, false);
            // Draw canvas border for the first time.
            resizeCanvas();
        }

        // Display custom canvas. In this case it's a blue, 5 pixel
        // border that resizes along with the browser window.
        function redraw() {
            context.strokeStyle = 'black';
            context.lineWidth = '2';
            context.strokeRect(0, 0, window.innerWidth * 0.55, window.innerHeight * 0.7);
        }

        // Runs each time the DOM window resize event fires.
        // Resets the canvas dimensions to match window,
        // then draws the new borders accordingly.
        function resizeCanvas() {
            htmlCanvas.width = window.innerWidth * 0.55;
            htmlCanvas.height = window.innerHeight * 0.7;
            redraw();
        }
    })();

</script>

<button th:if="${userRole == 'PAINTER'}" id="btn-canvas-clear" style="
        display: none;
        position: fixed;
        left: 5%;
        top: 90%;" class="btn-game">
    Clear canvas
</button>

<button th:if="${userRole == 'PAINTER' && game.getStatus().toString() == 'NEW'}" id="btn-start-game" style="position: fixed;
        left: 30%;
        top: 90%;" class="btn-game">
    Start the game
</button>



<script type="text/javascript" src="/js/game.js"></script>
<script type="text/javascript" src="/js/canvas_and_chat.js"></script>
<script type="text/javascript" src="/js/socket.js"></script>
</body>
</html>