<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
Hello, its a staring page!

<button id="btn-game-start" type="button" class="btn-default">New Game</button>

<form id="form_game_connect">
    <p><b>Game connect uuid:</b><br>
        <input id="input_connect_uuid" type="text" size="36">
    </p>
</form>
<button id="btn-game-connect" type="button" class="btn-default">Connect to game</button>

<br/>

<a href="/user/leaderboard">Leaderboard</a>

<br/>




</body>
</html>