<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <script>
        let currentUser = "[[${currentUser}]]";
        </script>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
Hello, its a staring page!

<div th:text="'Current user is: ' +  ${currentUser}"/>

<button id="btn-game-start" type="button" class="btn-default">New Game</button>

<form id="form_game_connect">
    <p><b>Game connect uuid:</b><br>
        <input id="input_connect_uuid" type="text" size="36">
    </p>
</form>
<button id="btn-game-connect" type="button" class="btn-default">Connect to game</button>

<br/>

<a href="/leaderboard">Leaderboard</a>
<br/>
<a href="/login">Login</a>
<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit">POST LOGOUT</input>
</form>
<br/>
<a href="/register">Register</a>

<br/>




</body>
</html>