<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Main page</title>

    <script>
        let currentUser = "[[${user}]]";
        let activeGameUUID = "[[${gameUUID}]]";
    </script>

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/index.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-xl fixed-top" style="background-color: black">
    <a class="navbar-brand" href="/">Crocodile</a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <li><a class="nav-link" href="/leaderboard">Leaderboard</a></li>
            <li th:if="${user != null}" class="nav-item">
                <a class="nav-link" href="/user/history">Match history</a>
            </li>
        </div>
        <div class="navbar-nav ml-auto">
            <li th:if="${user == null}" class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
            </li>
            <li th:if="${user == null}" class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li th:if="${user != null}" class="nav-item">
                <a class="nav-link" href="/user">My profile</a>
            </li>
            <li th:if="${user != null}" class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
        </div>
    </div>
</nav>

<br/>
<br/>
<br/>

<div id="index-page" class="index-page-contents">

    <div th:if="${user!=null}" th:text="'Hello, ' +  ${user} + '!'"/>
    <div th:if="${user!=null && gameUUID!=null}">You have an unfinished match, press connect button to reconnect!</div>
    <div th:if="${user==null}"> Hello, stranger! Please, log in to play the game.</div>
    <br/>
    <button id="btn-game-create" type="button" class="btn-index">New Game</button>
    <br/>
    <br/>
    <button id="btn-game-connect" type="button" class="btn-index">Connect to game</button>
<!--    <br/>
    <br/>
    <button id="btn-game-reconnect" type="button" class="btn-index">Reconnect to game</button>-->

</div>

<div class="form-popup" id="form-game-start">
    <form th:method="POST" th:action="@{/game/start}" th:object="${startRequest}" class="form-container">

        <h3>
        <label for="difficulty"><b>Select difficulty</b></label>
        <select id="difficulty" type="text" th:field="*{difficulty}" placeholder="difficulty" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
            </h3>
        <!--<input id="difficulty" type="text" th:field="*{difficulty}" placeholder="difficulty" required>-->

        <button type="submit" class="btn">Play</button>
        <button id="form-game-start-close" type="button" class="btn cancel">Close</button>
    </form>
</div>


<div class="form-popup" id="form-game-connect">
    <form th:method="POST" th:action="@{/game/connect}" th:object="${connectRequest}" class="form-container">
        <h3>Enter UUID</h3>

        <input type="text" th:field="*{gameUUID}" placeholder="UUID" id="gameUUID" required>

        <button type="submit" class="btn">Connect</button>
        <button id="form-game-connect-close" type="button" class="btn cancel">Close</button>
    </form>
</div>

<div class="form-popup" id="form-game-reconnect">
    <form th:method="GET" th:action="@{'/game/' + ${gameUUID}}" class="form-container">
        <h3>Are you sure?</h3>
        <button type="submit" class="btn">Reconnect</button>
        <button id="form-game-reconnect-close" type="button" class="btn cancel">Close</button>
    </form>
</div>

</body>
</html>