<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Account</title>

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-xl fixed-top" style="background-color: black">
    <a class="navbar-brand" href="/">Crocodile</a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <li><a class="nav-link" href="/leaderboard">Leaderboard</a></li>
            <li th:if="${user != null}" class="nav-item">
                <a class="nav-link" href="/user/history">Match history</a>
            </li>
        </div>
        <div class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
        </div>
    </div>
</nav>

<br/>
<br/>
<br/>

<div class="my_forms">

    <div th:if="${success == true}">Your data is successfully updated!</div>
    <br/>

<form th:method="POST" th:action="@{/user}" th:object="${user}">
    <label for="login">Login: </label>
    <input type="text" th:field="*{login}" id="login" disabled/>
    <br/>
    <label for="password">New password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>
    <label for="score">Score: </label>
    <input type="text" th:field="*{score}" id="score" disabled/>
    <br/>
    <input type="submit" value="Update!"/>

</form>

</div>

</body>
</html>